.popular_posts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 60px;*/
    border-radius: 0 0 100px 100px;
    background-color: white;
    height: 650px;
    font-size: 22px;
    font-weight: 500;
}

.popular_posts {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    width: 100%;
    animation: explanation linear;
    animation-timeline: view();
    animation-range: entry 0;
}

@keyframes explanation {
    from {
        scale: 0.7;
        opacity: 0.7;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}