.header_before_auth {
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: center;
    height: 100px;
    align-items: center;
    background-color: #2457F0;
    position: relative;
}

.header_before_auth_logo {
    position: absolute;
    left: 40px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 30px;
}

.header_singin_button {
    font: 400 20px "Unbounded", sans-serif;
    color: white;
    background: none;
    border-radius: 20px;
    border: 1px solid white;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.header_singup_button {
    font: 400 20px "Unbounded", sans-serif;
    color: white;
    background: none;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
}



.header_after_auth {
    display: flex;
    width: 100%;
    justify-content: right;
    height: 100px;
    align-items: center;
    background-color: #2457F0;
    position: relative;
}

.header_after_auth_main{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.header_auth_buttons {
    font: 300 19px "Unbounded", sans-serif;
    color: white;
    background: none;
    border-radius: 35px;
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header_auth_buttons:first-child, .header_auth_buttons:last-child {
    border: none
}